@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#667eea,#764ba2);
    padding-bottom: 10px;
}

a{
    text-decoration:none;
}

button{
    font-family:inherit;
}

img{
    user-select:none;
}